<div class="d-flex flex-row  fw-bolder gap-1">
  <div class="d-flex align-items-center ">
    <ion-icon
      ngbTooltip="Pagado"
      name="checkmark-circle"
      class="text-success fs-1"
    ></ion-icon>
    <!-- <ion-icon name="close-circle" class="text-danger"></ion-icon> -->
  </div>
  @if (interiores().length >0) {
    @if (interiores().length == 1) {
        <div class="d-flex align-items-center" [ngbTooltip]="getTypeProerties( interiores()[0].typeProperty ||typeProperties.SinUso)" >

            @switch (interiores()[0].typeProperty) {
              @case (typeProperties.Casa) {
                <ion-icon name="home" class=" fs-1"></ion-icon>
              }

              @case (typeProperties.Departamento) {
                <ion-icon name="business" class=" fs-1"></ion-icon>
              }

              @case (typeProperties.Bodega) {
                <ion-icon name="layers" class=" fs-1"></ion-icon>
              }


               @case (typeProperties.Local) {
                <ion-icon name="storefront" class=" fs-1"></ion-icon>
              }


              @case (typeProperties.EspacioPension) {
                <ion-icon name="car" class=" fs-1"></ion-icon>
              }

              @default {
                <ion-icon name="trash" class=" fs-1"></ion-icon>
              }
            }
          </div>
          }
          @else {
            @if( (interiores() || []).length >= 2 ){
              <div class="d-flex align-items-center" [ngbTooltip]="getTypeProerties( typeProperties.Multiple )" >
              <ion-icon name="podium" class=" fs-1"></ion-icon>
              </div>
            }
            @else {
              <ion-icon name="trash" class=" fs-1"></ion-icon>
            }
          }





  }

  <div style="font-size: 19px;" class="text-black d-flex  align-items-end w-100 px-2">
    <span>{{ title() }}</span>
  </div>
</div>
