  <app-modal-container [showModal]="showSelector()">
    <h3 class="fw-bold w-100 text-center" header>Seleccione Arrendatario</h3>
    <div body>
      <app-arrendatario-select
        (controlClose)="showSelector.set($event)"
        [interior]="selectedInterior()"
      ></app-arrendatario-select>
    </div>
  </app-modal-container>

  <div class="my-3">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>Nuevo</button>
      <ng-template ngbNavContent>
        <div class="d-flex flex-row gap-3 py-3">
          <button class="btn btn-primary w-100" >
            <ion-icon name="add-circle" size="large"></ion-icon>
          </button>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>Filtros</button>
      <ng-template ngbNavContent>
        <div class="d-flex flex-row gap-3 py-3">
          <select
            class="form-select form-select"
            aria-label=".form-select-lg example"
          >
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>

          <select
            class="form-select form-select"
            aria-label=".form-select-lg example"
          >
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </ng-template>
    </li>
  </ul>
</div>

<div [ngbNavOutlet]="nav" class="mt-2"></div>




<app-custom-table [configs]="tableConfigs">
  <!-- Small Screens' section -->
  <div class="card-items p-0">
    @for (item of tableConfigs.tableData; track item.id; let i = $index) {
      <app-card-collapsable>
        <div class="smTitle d-flex flex-column w-100">
          <h3>{{ item.alias }}</h3>

          <div class="d-flex flex-row w-100 align-items-center pe-3">
            <span class="bg-primary rounded-circle m-2 p-2"> </span>
            <span class="flex-grow-1">
              {{ item.propiedad?.direccion }}
            </span>
            <span class="bg-success px-2 py-1 rounded">
              {{ item.etiqueta }}
            </span>
          </div>
        </div>
        <div class="smBody w-100">
          <app-button-actions [itemId]="item.id">
            @if (!item.arrendatario) {
              <button
              (click)="showSelector.set(true) ; selectedInterior.set(item)"
                type="button"
                class="btn btn-outline-info border-black"
                ngbTooltip="Arrendatario"
              >
                <ion-icon name="person" style="color: black"></ion-icon>
              </button>
            }
          </app-button-actions>
        </div>
      </app-card-collapsable>
    }
  </div>
</app-custom-table>
