<app-modal-container [showModal]="showMultiReport()">
  <h3 class="fw-bold w-100 text-center" header>Seleccione año y meses</h3>
  <div body>
    <app-multi-recipient
      (controlClose)="hideModal($event)"
      (monthsSelected)="createMultiRecipients($event)"
    ></app-multi-recipient>
  </div>
</app-modal-container>

<app-custom-table [configs]="tableConfigs">
  <!-- Large screens' section -->
  <tbody class="table-items">
    @for (
      arrendatario of tableConfigs.tableData;
      track arrendatario;
      let i = $index
    ) {
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <!-- <img
                [src]="'https://upload.wikimedia.org/wikipedia/commons/' + arrendatario.flag"
                [alt]="'The flag of ' + arrendatario.name"
                class="me-2"
                style="width: 20px"
              /> -->
          {{ arrendatario.alias }}
        </td>
        <!-- <td>
          {{arrendatario.nombre}}{{ arrendatario.apellidoPaterno }} {{ arrendatario.apellidoMaterno }}
        </td> -->
        <!-- <td>
          {{ arrendatario.propiedad?.alias }}
        </td> -->
        <td>
          <div
            class="btn-group"
            role="group"
            aria-label="Basic mixed styles example"
          >
            <app-button-actions [itemId]="arrendatario.id">
              <button
                (click)="
                  createReport(arrendatario.id, 0)
                "
                type="button"
                class="btn btn-outline-info border-black"
                ngbTooltip="Recibo Mes Actual"
              >
                <ion-icon
                  style="color: black"
                  name="receipt-outline"
                ></ion-icon>
              </button>

              <button
                (click)="
                  openMultiReport(arrendatario.id, 0)
                "
                type="button"
                class="btn btn-outline-success border-black"
                ngbTooltip="Recibo Mes Especifico"
              >
                <ion-icon
                  style="color: black"
                  name="file-tray-full-outline"
                ></ion-icon>
              </button>
            </app-button-actions>
          </div>
        </td>
      </tr>
    }
  </tbody>

  <!-- Small Screens' section -->
  <div class="card-items p-0">
    @for (
      arrendatario of tableConfigs.tableData;
      track arrendatario;
      let i = $index
    ) {
      <app-card-collapsable>
        <div class="smTitle d-flex flex-column gap-1 pt-3">

          @if (arrendatario.interiores && arrendatario.interiores) {
            <app-arrendatario-icon-tool
              [title]="arrendatario.alias"
              [interiores]="arrendatario.interiores"
            >
            </app-arrendatario-icon-tool>
            @if (
              arrendatario.interiores.length > 0 &&
              arrendatario.interiores.length < 2
            ) {
              <span class="text-muted" style="font-size: 14px">
                {{ arrendatario.interiores[0]?.propiedad?.direccion }}
              </span>
              <span class="text-muted" style="font-size: 14px">
                {{ arrendatario.interiores[0]?.etiqueta }}
              </span>
            }
            @else {
              @if (arrendatario.interiores.length >=2) {
                @for (i of arrendatario.interiores; track $index) {
                  <span class="text-muted" style="font-size: 14px">
                  {{ i.propiedad?.direccion }}
                  </span>
                }
              }
            }
          }
        </div>
        <div class="smBody w-100" >
          <!-- One property section -->
            @if (arrendatario.interiores ) {
              @if (arrendatario.interiores.length === 1) {
                <div
                  class="btn-group w-100  d-flex flex-row justify-content-center"
                  role="group"
                  aria-label="Basic mixed styles example"
                >
                  <app-button-actions [itemId]="arrendatario.id">
                    <button
                      (click)="
                        createReport(arrendatario.id, arrendatario.interiores[0].propiedad?.id ?? 0)
                      "
                      type="button"
                      class="btn btn-outline-success border-black"
                      ngbTooltip="Recibo Mes Actual"
                      placement="top"
                    >
                      <ion-icon
                        style="color: black"
                        name="receipt-outline"
                      ></ion-icon>
                    </button>
                    <button
                      (click)="
                        openMultiReport(
                          arrendatario.id,
                          arrendatario.interiores[0].propiedad?.id ?? 0
                        )
                      "
                      type="button"
                      class="btn btn-outline-success border-black"
                      ngbTooltip="Recibo Mes Escpecifico"
                      placement="top"
                    >
                      <ion-icon
                        style="color: black"
                        name="file-tray-full-outline"
                      ></ion-icon>
                    </button>
                  </app-button-actions>
                </div>
              } @else {
                @for (interior of arrendatario.interiores; track $index) {
                  <app-card-collapsable>
                    <div class="smTitle pt-2">
                      {{ interior.alias }}
                    </div>

                    <div class="smBody">
                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic mixed styles example"
                      >
                        <app-button-actions [itemId]="arrendatario.id">
                          <button
                            (click)="
                              createReport(
                                arrendatario.id,
                                interior.propiedad?.id ?? 0
                              )
                            "
                            type="button"
                            class="btn btn-outline-success border-black"
                            ngbTooltip="Recibo Mes Actual"
                            placement="top"
                          >
                            <ion-icon
                              style="color: black"
                              name="receipt-outline"
                            ></ion-icon>
                          </button>
                          <button
                            (click)="
                              openMultiReport(
                                arrendatario.id,
                                interior.propiedad?.id ?? 0
                              )
                            "
                            type="button"
                            class="btn btn-outline-success border-black"
                            ngbTooltip="Recibo Mes Escpecifico"
                            placement="top"
                          >
                            <ion-icon
                              style="color: black"
                              name="file-tray-full-outline"
                            ></ion-icon>
                          </button>
                        </app-button-actions>
                      </div>
                    </div>
                  </app-card-collapsable>
                }
              }
            }
        </div>
      </app-card-collapsable>
    }
  </div>
</app-custom-table>
