<div class="my-3">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>Nuevo</button>
      <ng-template ngbNavContent>
        <div class="d-flex flex-row gap-3 py-3">
          <button class="btn btn-primary w-100" >
            <ion-icon name="add-circle" size="large"></ion-icon>
          </button>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>Filtros</button>
      <ng-template ngbNavContent>
        <div class="d-flex flex-row gap-3 py-3">
          <select
            class="form-select form-select"
            aria-label=".form-select-lg example"
          >
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>

          <select
            class="form-select form-select"
            aria-label=".form-select-lg example"
          >
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </ng-template>
    </li>
  </ul>
</div>

<div [ngbNavOutlet]="nav" class="mt-2"></div>





<app-custom-table [configs]="tableConfigs">
  <!-- Large screens' section -->
  <tbody class="table-items">
    @for (
      propiedad of tableConfigs.tableData;
      track propiedad;
      let i = $index
    ) {
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ propiedad.alias }}
        </td>
        <td>
          {{ propiedad.alias }}
        </td>
        <td>
          <div
            class="btn-group"
            role="group"
            aria-label="Basic mixed styles example"
          >
            <app-button-actions [itemId]="propiedad.id"> </app-button-actions>
          </div>
        </td>
      </tr>
    }
  </tbody>

  <!-- Small Screens' section -->
  <div class="card-items pb-0">
    @for (
      propiedad of tableConfigs.tableData;
      track propiedad;
      let i = $index
    ) {
      <app-card-collapsable>
        <div class="smTitle d-flex flex-column gap-1 pt-0 w-100 ">
          <!-- <app-arrendatario-icon-tool
          [title]="propiedad.direccion"
          [typeProperty]="propiedad?.typeProperty">
        </app-arrendatario-icon-tool> -->

          <app-propiedad-icon-tool
            [title]="propiedad.direccion"
          ></app-propiedad-icon-tool>
          <div class="container mt-1">
            <div class="row align-items-center">
               <div class="text-muted col-12 my-1 " style="font-size: 14px">
                 Número de interiores: {{ propiedad?.interiores?.length ?? 0 }}
              </div>
            </div>
          </div>
        </div>
        <div class="smBody">
          <div
            class="btn-group"
            role="group"
            aria-label="Basic mixed styles example"
          >
            <app-button-actions [itemId]="propiedad.id">
              <button
                type="button"
                class="btn btn-outline-success border-black"
                ngbTooltip="Recibo Mes Actual"
                placement="top"
              >
                <ion-icon
                  style="color: black"
                  name="build-outline"
                ></ion-icon>
              </button>
            </app-button-actions>
          </div>
        </div>
      </app-card-collapsable>
    }
  </div>
</app-custom-table>
